@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.card-text{
  opacity: 1;
}
:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.navbar {

  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 5px 1px #f91;
  box-shadow: 2px 3px 5px 1px #f91; 
}
.bg-light{
//position: sticky;
top: 0px;
//border: 1px solid #000;
z-index: 999;
}
.img-thumbnail {
  max-width: 100px;
  -webkit-box-shadow: 2px 3px 5px 1px #f91;
  box-shadow: 2px 3px 5px 1px #f91;
  margin: 0 20px 7px 0; }

.img-thumbnail:hover {
  -webkit-box-shadow: 2px 3px 5px 1px #591;
  box-shadow: 2px 3px 5px 1px #591; }

.carousel {
  margin: 25px auto;
  max-width: 80%; }

.carousel-inner {
  border-radius: 50px; }

.card-body {
  text-align: center; }

.fl_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.h2 {
  margin: 15px;
  display: inline-block;
  font-weight: 700;
  text-shadow: 2px 2px 1px #f91; }

.h2:hover {
  text-shadow: 2px 2px 1px #191;
  cursor: default; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: -4px -2px 5px 4px #F0F8FF;
  box-shadow: -4px -2px 5px 4px #F0F8FF; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px; }

.card._piz {
  border-radius: 20px;
  overflow: hidden;
  max-width: 250px; }

.card {
  border: none;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125); }

.card-title {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 1px #f91; }

.card-text {
  text-align: left; }

.btn:hover {
  -webkit-box-shadow: 0px 1px 1px 1px #49423D;
  box-shadow: 0px 1px 1px 1px #49423D; }

.btn {
  width: 100%; }

  .bg-light1{
    margin: 25px 0 0;
    //border: 1px solid #000;
  }
  .tabl{
   
   // border: 3px solid #ff0;
    border-radius: 20px;
    overflow: hidden;
  }
  .table{
    margin: 0 0 -5px 0;
   // border: 1px solid #f20;
  }